<a href="/posts/new" class="btn btn-info" style="margin-top:20px" >New Post</a>
<a href="/posts/draft" class="btn btn-info" style="margin-top:20px">Draft</a>
<a href="/auth/logout" class="btn btn-info" style="margin-top:20px;margin-left: 700px;">Log out</a>

<h1>List of My Drafts</h1>
<ul>
  <% for (var i = 0; i < posts.length; i++) { %>
    <% if (posts[i]) { %>
      <li>
        <a href="/posts/post/<%= posts[i].id %>"><%= posts[i].title ? posts[i].title : '(no title)' %></a>
      </li>
    <% } %>
  <% } %>
</ul>
