<h1>Edit a post</h1>

<form action="/posts/edit/<%= post.id %>" method="POST">
  <div class="form-group">
    <label for="title">Title</label>
    <input type="text" class="form-control" id="title" name="title" value="<%= post.title %>" required>
  </div>

  <div class="form-group">
    <label for="content">Content</label>
    <textarea type="text" class="form-control" id="content" name="content" data-provide="markdown"><%= post.content %></textarea>
  </div>

  <input type="submit" class="btn btn-primary">
</form>
