<h2>Connect Page</h2>

<a href="/auth/logout">Logout</a>

<h4>Pending Invitations</h4>
<ul>
  <li>
    <form method="POST">
        <label for="name">user.name</label>
        <button type="submit" formaction="/auth/accept">Accept</button>
        <button type="submit" formaction="/edit/ignore">Ignore</button>
    </form>
  </li>
</ul>

<h4>Potentail Friends</h4>
<ul>
  <li>
    <form action="/auth/invitate" method="POST">
        <label for="name">user.name</label>
        <button type="submit">Add Friend</button>
    </form>
  </li>
</ul>

<h4>Friends</h4>
<ul>
  <li>
    <form action="/auth/remove" method="POST">
        <label for="name">user.name</label>
        <button type="submit">Remove</button>
    </form>
  </li>
</ul>
