<h1>Share Reddit</h1>

<form action="/share" method="POST">
  <div class="form-group">
    <label for="title">Comment</label>
    <input type="text" class="form-control" id="title" name="title" required>
  </div>

  <div class="form-group">
    <a href="<%= url %>" target="_blank"><%= title %></a>
    <input hidden type="text" name="content" value="<%= title %>">
    <input hidden type="text" name="url" value="<%= url %>">
  </div>

  <p>
    <button type="submit" formaction="/posts/public">Post To Public</button>
    <button type="save" formaction="/posts/save">Save As Draft</button>
  </p>
</form>
