body {
  background: url('') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.content {
  max-height: 200px;
  overflow: auto;
}

.layout_container{
  background: grey;
  color: white;
}
body{
  background: #e9ebee;
}
.index{
  margin-top: 20px;
}
.img{
  height: 220px;
  width: 300px;
  border-radius: 15px;
  margin-bottom: 20px;
}
.img1{
  background: url('../img/seewhat.jpg');
  background-size: cover;
}
.img2{
  background: url('../img/join.jpg');
  background-size: cover;
}
